.search-component-center{
    padding: 15px;
    margin: 10px;
    align-content: center;
}

.search-component-left{
    padding: 15px;
    margin: 10px;
    align-content: flex-start;
}
.p-top-1{
    padding-top: 0.5rem!important;
}
.left-logo{
    width: auto;
    height: auto;
    max-width: 5rem;
    max-height: 5rem;
}

.typograph {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}