$BG: #373929;
$HE: 60px;
$PHE: 20vh;

ul{
  list-style-type: none;
}

.navbar{
  background-color: $BG;
  display: flex;
  max-height: $HE;
  height: $PHE;
}
.navbar-brand{
  height: $PHE;
  max-height: $HE;
  max-width: 2* $HE;
  width: 2 * $PHE
}
img{
  min-width:100%;
  min-height:100%;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.navbar-nav{
  margin: 0;
  overflow: hidden;
  background-color: $BG;
  justify-content: flex-start;
}

.nav-item{
  height: 100%;
  width: auto;
  :hover{
    background-color: #111;
    }
}
.nav-link{
  display: inline-block;
  padding: $PHE / 8;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
}

a{
  text-decoration: none;
  color: white;
}

.nav-configuration{
  cursor: pointer;
  padding: $PHE / 8;
  justify-content: flex-end;  
}
