<ng-container *ngIf="config$ | async as config; else load">
  <my-navbar [enlaces]="config.enlaces"
             [brand]="config.brand"
             [configuration]="config.configuration"
             [searchbox]="true"
              (event)=" handleEvent($event)"></my-navbar>
  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <footer class="w-100">
    <div class=" container text-center">
      {{ config.version}} 2019
    </div>
  </footer>
</ng-container>
<ng-template #load>
  asdasd
  <app-loading></app-loading>
</ng-template>
